    .container {
        .header {
            font-size: 1.8rem;
            font-weight: 600;
            color: $success;
            margin-bottom: 1.5rem
        }
    }

    section {
        margin-bottom: 4.5rem;
    }

    .nav-hero {
        .hero {
            // height: 80vh;
            position: relative;

            .hero-content {
                padding-top: 110px;
                padding-bottom: 150px;

                @media (max-width: 576px) {
                    padding-top: 80px;
                    padding-bottom: 100px;
                }

                h1 {
                    font-size: 54px;
                    text-align: left;
                    padding-right: 440px;

                    @media (max-width: 992px) {
                        font-size: 44px;
                        padding: 0 20px;
                    }

                    @media (max-width: 576px) {
                        font-size: 33px;
                        padding: 0 4px;
                    }
                }

                p {
                    font-size: 17px;
                    text-align: left;
                    padding-right: 480px;

                    @media (max-width: 992px) {
                        font-size: 17px;
                        padding-right: 10px;
                    }
                }
            }

            .hero-img {
                position: absolute;
                width: 65%;
                height: 100%;
                object-fit: cover;
                z-index: -3;
                top: 0;
                right: 0;

                @media (max-width: 768px) {
                    width: 100%;
                    right: 0;
                    filter: brightness(40%);
                }
            }

            .grass-background{
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                height: 100%;
                z-index: -1;
                filter: opacity(0.1);
                border: none;
                @media (max-width: 768px) {
                    display: none;
                }
                
            }

            .left-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -3;
                background: linear-gradient(90deg, #202021 0, #202021 50%, rgba(8, 8, 8, 0) 90%, rgba(8, 8, 8, 0) 100%);
                opacity: 1;
                filter: brightness(50%);
                @media (max-width: 768px) {
                    background: linear-gradient(90deg, #202021 0, #202021 10%, rgba(8, 8, 8, 0) 90%, rgba(8, 8, 8, 0) 100%);
                }
            }

            .circle {
                position: absolute;
                width: 300px;
                height: 300px;
                z-index: -3;
                top: -150px;
                left: -150px;
                border: 7px solid $primary;
                border-radius: 50%;
                filter: opacity(0.2);
            }
        }

        .features {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            margin-top: -3rem;

            @media (max-width: 992px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 768px) {
                grid-template-columns: repeat(1, 1fr);
            }

            div {
                padding: 2rem;
                background-color: #ffffff;
                border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
                text-align: center;

                i {
                    font-size: 2rem;
                    color: $primary;
                    margin-bottom: 0.9rem;
                }

                h3 {
                    font-size: 1.35rem;
                    font-weight: 600;
                }

                p {
                    font-size: 0.9rem;
                }
            }
        }
    }

    .problems {
        .img-div {
            max-height: 450px;
            height: auto;
            padding: 0rem 5rem 3rem 1rem;
            position: relative;

            @media (max-width: 992px) {
                padding: 0rem;
            }
            &::after{
                content: "";
                left: -35px;
                bottom: 0px;
                position: absolute;
                height: 90%;
                width: 90%;
                border: 6px solid $primary;
                background-color: $primary;
                border-radius: 50% 20% / 10% 40%;
                z-index: -1;

                @media (max-width: 992px) {
                    display: none;
                }
            }
            img {
                max-height: 400px;
                height: auto;
                width: 100%;
                border-radius: 50% 20% / 10% 40%;
                object-fit: cover;
                @media (max-width: 992px) {
                    max-height: 300px;
                }
            }
        }

        .info-div {
            padding-left: 3rem;
            @media (max-width: 992px) {
                padding-left: 0rem;
                margin-bottom: 2.5rem;
            }

            .problems-points {
                li {
                    color: #525050;
                    font-size: 16px;
                    margin-bottom: 0.6rem;
                    list-style-type: "❌";
                    padding-inline-start: 1ch;
                }
            }
        }
    }

    .cta {
        height: 30rem;
        position: relative;

        .cta-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(30%);
            z-index: -1;
        }

        .custom-shape-divider-bottom-1686548668 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
        }

        .custom-shape-divider-bottom-1686548668 svg {
            position: relative;
            display: block;
            width: calc(162% + 1.3px);
            height: 62px;
        }

        .custom-shape-divider-bottom-1686548668 .shape-fill {
            fill: #f8f8f8;
        }

        .custom-shape-divider-top-1686548731 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            transform: rotate(180deg);
        }

        .custom-shape-divider-top-1686548731 svg {
            position: relative;
            display: block;
            width: calc(162% + 1.3px);
            height: 62px;
        }

        .custom-shape-divider-top-1686548731 .shape-fill {
            fill: #f8f8f8;
        }
    }



    .our-services {

        .multiple-slides {

            .service-div {
                height: 20rem;
                position: relative;
                border-radius: 8px;
                cursor: pointer;
                border-radius: 8px;
                overflow: hidden;

                .slider-img-full {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    animation: fade-in 0.4s ease-in-out;
                    z-index: -1;
                    filter: brightness(80%);
                }

                .information {
                    position: absolute;
                    bottom: 0;
                    height: 20%;
                    width: 100%;
                    background-color: rgba(25, 173, 25, 0.9);
                    padding: 10px 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    transition: background-color 0.3s ease-in-out;
                }

                h4 {
                    margin-top: 0;
                    color: $white;
                    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
                }

                p.hidden-information {
                    display: none;
                    padding: 0.3rem 1.5rem;
                    color: $white;
                    font-size: 15px;
                    text-align: center;

                    a {
                        display: block;
                        width: 50%;
                        margin: 0.5rem auto;
                    }
                }

                &:hover .information {
                    min-height: 60%;
                    height: auto;
                    bottom: 0;
                    padding: 1rem auto;
                    border-top-left-radius: 10%;
                    border-top-right-radius: 10%;
                }

                &:hover .slider-img-full {
                    transform: scale(1.1);
                }

                &:hover h4 {
                    background-color: transparent;
                    margin-bottom: 0;
                }

                &:hover p.hidden-information {
                    display: block;
                    animation: fade-in 0.8s ease-in-out;
                }
            }
        }
    }


    .why-us {
        .why-us-row {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1rem;
            row-gap: 2rem;

            @media (max-width: 768px) {
                grid-template-columns: repeat(1, 1fr);
            }

            i {
                color: $success;
                font-size: 18px;
                margin-right: 4px;
            }
        }

        .why-us-img {
            display: flex;
            justify-content: end;

            img {
                width: 100%;
                max-height: 20rem;
                min-height: 18rem;
                object-fit: cover;
                border-radius: 50% 20% / 10% 40%;
                filter: brightness(90%);
            }
        }
    }

    .our-promise {
        .promise-row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3rem;

            @media (max-width: 992px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 768px) {
                grid-template-columns: repeat(1, 1fr);
            }

            .promise {
                padding: 2rem;
                border-radius: 30px;

                text-align: center;

                i {
                    font-size: 3rem;
                    color: $primary;
                    margin-bottom: 0.9rem;
                }

                h5 {
                    font-size: 1.35rem;
                    font-weight: 600;
                }

                p {
                    font-size: 0.9rem;
                }
            }
        }

        .custom-shape-divider-bottom-1686673657 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            z-index: -1;
        }
        
        .custom-shape-divider-bottom-1686673657 svg {
            position: relative;
            display: block;
            width: calc(274% + 1.3px);
            height: 377px;
        }
        
        .custom-shape-divider-bottom-1686673657 .shape-fill {
            fill: #E7F5E8;
        }
    }



    .cta-form{
        .img-div{
            padding-right: 2rem;
            padding-top: 2rem;
            img{
                width: 100%;
                object-fit: cover;
                height: 100%;
                max-height: 33rem;
                border-radius: 50% 20% / 10% 40%;

                @media (max-width: 992px) {
                    max-height: 25rem;
                }

                @media (max-width: 768px) {
                    max-height: 20rem;
                }
            }
        }
    }



    /* Testimonial Card */
    .testimonial-card {
        overflow: hidden;
        padding: 2rem 1.5rem;
        box-sizing: border-box;
        box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
        position: relative;

        .quote-1 {
            position: absolute;
            font-size: 5rem;
            color: $secondary;
            top: 0px;
            left: 0;
            z-index: 1;
            filter: opacity(0.4);

        }

        .quote-2 {
            display: none;
            position: absolute;
            font-size: 2rem;
            bottom: 0px;
            right: 0;
            color: $secondary;
            transform: rotate(180deg);
        }

        img {
            width: 75px;
            height: 75px;
            object-fit: cover;
            z-index: 2;
        }

        .ratings{
            font-size: .85rem;
            line-height: 24px;
            color: #FF9529;
            i{

            }
        }
    }

    .how-it-works {
        .how-it-works-row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5rem;

            @media (max-width: 992px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 768px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        .col {
            text-align: center;

            img {
                width: 80%;
                max-height: 15rem;
                object-fit: contain;
                margin-bottom: 1.3rem;
            }

            h5 {
                color: $success;
            }

            p {
                color: $info;
            }
        }
    }



    .service-areas {
        .bg-img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0.9;
            filter: brightness(20%);
        }

        .small-big-header {
            p {
                color: #ffffff;
            }

            h3 {
                color: rgb(255, 255, 255);
            }
        }

        p {
            line-height: 29px;
            text-shadow: .1em .1em 0 hsl(0, 0%, 0%) !important;
        }

        .areas {
            margin-top: 3rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2.5rem;
            font-size: 1.2rem;

            @media (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
                gap: 0.6rem;
            }

            a {
                color: #ffffff;
                font-weight: 500;
                text-shadow: .1em .1em 0 hsl(0, 0%, 0%) !important;
                font-size: 17px;

                i {
                    color: $success;
                    margin-right: 1rem;
                }

                &:hover {
                    padding-left: 0.3rem;
                }
            }
        }
    }

    // Faq{

    .faq {
        .accordion {
            --bs-accordion-border-width: 0px;
            --bs-accordion-btn-focus-border-color: #ffffff;
            --bs-accordion-active-color: #ffffff;
            --bs-accordion-btn-focus-box-shadow: 0 0 0 0rem;
        }

        .accordion-item {
            margin-bottom: 1rem;
            border: 1px solid #e4e4e4;
            border-radius: 10px;
            overflow: hidden;
            background-color: #ffffff;
        }

        .accordion-button:not(.collapsed)::after {
            background-image: url("data:image/svg+xml,...");
        }

        .accordion-button::after {
            background-image: url("data:image/svg+xml,...");
        }

        .accordion-button:not(.collapsed):after {
            transform: none !important;
            transform: all 0.3s;
        }

        .accordion-topic button {
            padding: 10px 30px;
        }

        .accordion-topic button:after {
            font-family: "FontAwesome";
            content: "\f068";
            float: right;
            color: $success;
            font-size: 1rem;
            height: inherit;
        }

        .accordion-topic button.collapsed:after {
            content: "\f068";
            content: "\2b";
        }

        .accordion-topic span {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #293241;
        }

        .accordion-body {
            padding-left: 2rem;
        }

        .accordion-button {
            background-color: #ffffff !important;
        }
    }


    // Service pages
    .flex-description {
        .card {
            transition: all 0.2s;
            position: relative;
            cursor: pointer;
            height: 80%;
            width: 80%;
            margin-left: 1.5rem;

            @media (max-width: 992px) {
                height: 100%;
                width: 100%;
                margin-left: 0rem;
                margin-top: 3rem;
            }

            img {
                object-fit: cover;
                max-height: 400px;

                @media (max-width: 992px) {
                    max-height: 300px;
                }
            }

            .card-inner {
                width: inherit;
                height: inherit;
                background: rgba(255, 255, 255, .05);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(10px);
                border-radius: 8px;
            }

            .card:hover {
                transform: scale(1.04);
            }
        }
    }

    .ratings-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        margin-bottom: 3rem;

        @media (max-width:992px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 2.2rem;
        }

        @media (max-width:576px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 2.2rem;
        }

        .ratings-card {
            border: none;
            border-radius: 12px;
            margin-bottom: 10px;
            box-shadow: 0 3px 20px rgba(0, 0, 0, .1);
            padding: 1.5rem 1rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: #ffffff;

            img {
                width: 70px;
                height: 70px;
                margin-bottom: 1rem;
            }

            h4 {
                font-size: 1.20rem;
                font-weight: 500;
            }

            .info {
                line-height: 24px;
                color: #504e4b;
            }

            .ratings {
                font-size: .85rem;
                line-height: 24px;
                color: #FF9529;
                margin-top: 0.5rem;

                i {
                    font-size: 20px;
                }
            }
        }
    }