    .container {
        .header {
            font-size: 1.8rem;
            font-weight: 600;
            color: $success;
            margin-bottom: 1.5rem
        }
    }

    section {
        margin-bottom: 4.5rem;
    }

    .nav-hero {
        .hero {
            // height: 80vh;
            position: relative;

            .hero-content {
                padding-top: 110px;
                padding-bottom: 150px;

                @media (max-width: 576px) {
                    padding-top: 80px;
                    padding-bottom: 100px;
                }

                h1 {
                    font-size: 54px;
                    text-align: center;
                    padding: 0 60px;

                    @media (max-width: 992px) {
                        font-size: 44px;
                        padding: 0 20px;
                    }

                    @media (max-width: 576px) {
                        font-size: 33px;
                        padding: 0 4px;
                    }
                }

                p {
                    font-size: 17px;
                    text-align: center;
                    padding: 0 190px;

                    @media (max-width: 992px) {
                        font-size: 17px;
                        padding: 0 50px;
                    }
                }
            }
        }

        .features {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2px;
            background-color: #fff;

            @media (max-width: 992px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 768px) {
                grid-template-columns: repeat(1, 1fr);
            }

            div {
                padding: 2rem;
                background-color: #e7f5d4;
                // border-radius: 30px;
                // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
                text-align: center;

                i {
                    font-size: 2rem;
                    color: $primary;
                    margin-bottom: 0.9rem;
                }

                h3 {
                    font-size: 1.35rem;
                    font-weight: 600;
                }

                p {
                    font-size: 0.9rem;
                }
            }
        }

        .hero-img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -3;
            filter: brightness(30%);
            top: 0;
        }
    }

    .problems {
        .problems-row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3rem;

            @media (max-width: 992px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 768px) {
                grid-template-columns: repeat(1, 1fr);
            }

            .problems {
                padding: 2rem;
                border-radius: 30px;

                text-align: center;

                i {
                    font-size: 3rem;
                    color: $primary;
                    margin-bottom: 0.9rem;
                }

                h5 {
                    font-size: 1.35rem;
                    font-weight: 600;
                }

                p {
                    font-size: 0.9rem;
                }
            }
        }
    }



    .our-services {

        .multiple-slides {

            .service-div {
                height: 20rem;
                position: relative;
                border-radius: 8px;
                cursor: pointer;

                .slider-img-full {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    position: absolute;
                    z-index: -1;
                    border-radius: 8px;
                    filter: brightness(80%);
                }

                .information {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background-color: rgba(200, 255, 200, 0.1);
                    padding: 10px 0;
                    transition: background-color 0.3s ease-in-out;
                }

                h4 {
                    margin-top: 0;
                    color: $white;
                    text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
                    background-color: $primary;
                    margin-bottom: 2rem;
                    padding-left: 1.5rem;
                    padding: 0.3rem 1.5rem;
                    width: fit-content;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }

                p.hidden-information {
                    display: none;
                    padding: 0.3rem 1.5rem;
                    color: $white;
                    font-size: 15px;
                }

                &:hover h4 {
                    background-color: transparent;
                    margin-bottom: 0;
                }

                &:hover .information {
                    background-color: rgba(25, 173, 25, 0.8);
                }

                &:hover p.hidden-information {
                    display: block;
                    animation: fade-in 0.8s ease-in-out;
                }
            }
        }
    }

    .cta {
        height: 30rem;
        position: relative;

        .cta-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(30%);
            z-index: -1;
        }
    }


    .why-us {
        .why-us-row {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1rem;
            row-gap: 2rem;

            @media (max-width: 768px) {
                grid-template-columns: repeat(1, 1fr);
            }

            i {
                color: $success;
                font-size: 18px;
                margin-right: 4px;
            }
        }

        .why-us-img {
            display: flex;
            justify-content: end;

            img {
                width: 100%;
                height: 15rem;
                object-fit: cover;
                border-radius: 10% 30% 50% 70%;
                filter: brightness(90%);
            }
        }
    }



    /* Testimonial Card */
    .testimonial-card {
        overflow: hidden;
        padding: 2rem 1.5rem;
        box-sizing: border-box;
        box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
        position: relative;
    }

    .testimonial-card .quote-1 {
        position: absolute;
        font-size: 2rem;
        color: $secondary;
        top: 0px;
        left: 0;
    }

    .testimonial-card .quote-2 {
        position: absolute;
        font-size: 2rem;
        bottom: 0px;
        right: 0;
        color: $secondary;
        transform: rotate(180deg);
    }

    .testimonial-card img {
        width: 75px;
        height: 75px;
        object-fit: cover;
    }


    .how-it-works {
        .how-it-works-row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5rem;

            @media (max-width: 992px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 768px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        .col {
            text-align: center;

            img {
                width: 80%;
                max-height: 15rem;
                object-fit: contain;
                margin-bottom: 1.3rem;
            }

            h5 {
                color: $success;
            }

            p {
                color: $info;
            }
        }
    }



    .service-areas {
        .bg-img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0.9;
            filter: brightness(20%);
        }

        .small-big-header {
            p {
                color: #ffffff;
            }

            h3 {
                color: rgb(255, 255, 255);
            }
        }

        p {
            line-height: 29px;
            text-shadow: .1em .1em 0 hsl(0, 0%, 0%) !important;
        }

        .areas {
            margin-top: 3rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2.5rem;
            font-size: 1.2rem;

            @media (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
                gap: 0.6rem;
            }

            a {
                color: #ffffff;
                font-weight: 500;
                text-shadow: .1em .1em 0 hsl(0, 0%, 0%) !important;
                font-size: 17px;

                i {
                    color: $success;
                    margin-right: 1rem;
                }

                &:hover {
                    padding-left: 0.3rem;
                }
            }
        }
    }

    // Faq{

    .faq {
        .accordion {
            --bs-accordion-border-width: 0px;
            --bs-accordion-btn-focus-border-color: #ffffff;
            --bs-accordion-active-color: #ffffff;
            --bs-accordion-btn-focus-box-shadow: 0 0 0 0rem;
        }

        .accordion-item {
            margin-bottom: 1rem;
            border: 1px solid #e4e4e4;
            border-radius: 10px;
            overflow: hidden;
            background-color: #ffffff;
        }

        .accordion-button:not(.collapsed)::after {
            background-image: url("data:image/svg+xml,...");
        }

        .accordion-button::after {
            background-image: url("data:image/svg+xml,...");
        }

        .accordion-button:not(.collapsed):after {
            transform: none !important;
            transform: all 0.3s;
        }

        .accordion-topic button {
            padding: 10px 30px;
        }

        .accordion-topic button:after {
            font-family: "FontAwesome";
            content: "\f068";
            float: right;
            color: $success;
            font-size: 1rem;
            height: inherit;
        }

        .accordion-topic button.collapsed:after {
            content: "\f068";
            content: "\2b";
        }

        .accordion-topic span {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #293241;
        }

        .accordion-body {
            padding-left: 2rem;
        }

        .accordion-button {
            background-color: #ffffff !important;
        }
    }


    // Service pages
    .flex-description {
        .card {
            transition: all 0.2s;
            position: relative;
            cursor: pointer;
            height: 80%;
            width: 80%;
            margin-left: 1.5rem;

            @media (max-width: 992px) {
                height: 100%;
                width: 100%;
                margin-left: 0rem;
                margin-top: 3rem;
            }

            img {
                object-fit: cover;
                max-height: 400px;

                @media (max-width: 992px) {
                    max-height: 300px;
                }
            }

            .card-inner {
                width: inherit;
                height: inherit;
                background: rgba(255, 255, 255, .05);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(10px);
                border-radius: 8px;
            }

            .card:hover {
                transform: scale(1.04);
            }
        }
    }

    .ratings-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        margin-bottom: 3rem;

        @media (max-width:992px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 2.2rem;
        }

        @media (max-width:576px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 2.2rem;
        }

        .ratings-card {
            border: none;
            border-radius: 12px;
            margin-bottom: 10px;
            box-shadow: 0 3px 20px rgba(0, 0, 0, .1);
            padding: 1.5rem 1rem;
            display: flex; 
            align-items: center;
            flex-direction: column;
            background-color: #ffffff;

            img {
                width: 70px;
                height: 70px;
                margin-bottom: 1rem;
            }

            h4 {
                font-size: 1.20rem;
                font-weight: 500;
            }

            .info{
                line-height: 24px;
                color: #504e4b;
            }

            .ratings {
                font-size: .85rem;
                line-height: 24px;
                color: #FF9529;
                margin-top: 0.5rem;
                i{
                    font-size: 20px;
                }
            }
        }
    }